html {
  background-color: rgb(33, 33, 33);
}

a{
  text-decoration: none;
}

.frame {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  color: whitesmoke;
  font-size: 100px;
  text-align: center;
  margin: 30px auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  text-align: center;
}
/* 
 * NOTE: 홈에서 화면 너비가 줄어들었을 때, 한 줄에 coverImg가 하나씩 보였으면 좋겠습니다.
@media (max-width: 1200px) {
  .title {
    font-size: 2em;
  }
  .content {
    display: flex;
  }
} */