@font-face {
  font-family: "Kanit-regular";
  src: url(../../public/fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: "Kanit-light";
  src: url(../../public/fonts/Kanit-ExtraLight.ttf);
}

.content {
  position: relative;
  font-family: "Kanit-light";
}

.coverImg {
  min-width: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.details {
  width: 310px;
  height: 450px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: gainsboro;
  border-radius: 10px;
  list-style: none;
  text-align: left;
  position: absolute;
  left: 44px;
  top: 0;
}

h2 {
  color: navy;
  font-family: "Kanit-regular";
}

h3 {
  margin-bottom: 5px;
  color: navy;
  font-family: "Kanit-regular";
}

ul {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
}

/* .posters:hover + .details {
  display: block;
}

.posters:hover{
  display: none;
} */

.displayNone {
  display: none;
}

@media (max-width: 1200px) {
  p {
    font-size: 0.6em;
  }
  .details {
    position: static;
  }
}