.content {
    position: relative;
}

.coverImg {
  min-width: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.details {
  width: 310px;
  height: 450px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: gainsboro;
  border-radius: 10px;
  list-style: none;
  text-align: left;
  position: absolute;
  left: 44px;
  top: 0;
}

h2 {
    color: navy;
}

h3 {
  margin-bottom: 5px;
  color: navy;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
}

/* .posters:hover + .details {
  display: block;
}

.posters:hover{
  display: none;
} */

.displayNone {
  display: none;
}